<% include ../partials/header.ejs %>
<div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    YelpCamp
                </p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="img-thumbnail">
                    <img class="img-fluid mx-auto d-block" src="<%=campg.image%>">
                    <div class="caption">
                        <h4 class="float-right">$9.00/night</h4>
                        <h4><a><%=campg.name%></a></h4>
                        <p><%=campg.description%></p>
                        <p><em>Submitted by <%=campg.author.username%></em></p>
                    </div>
                </div>
                <br>
                <div class="card bg-light border-secondary mb-3">
                    <div class="card-header text-right">
                            <a class="btn btn-dark btn-md" href="/campgrounds/<%=campg._id%>/comments/new">Add New Comment</a>
                    </div>
                    <div class="card-body">
                            <% campg.comments.forEach(function(comment){ %>
                                <div class="row">
                                    <div class="col-md-12">
                                            <strong><%=comment.author.username%></strong>
                                            <span class="float-right">
                                                <p>10 days ago</p>
                                            </span>
                                            <p><%= comment.text %></p>
                                    </div>
                                </div>
                            <%}); %>
                        </div>
                    
                </div>
            </div>
        </div>
</div>



<% include ../partials/footer.ejs %>